body 
{
    background-color: #141414;
    color: white;
    text-shadow: 1px 1px 2px #401010;
}
a{
    text-decoration: none;
    color: white;
}
.blockpage
{
    margin-left: 30;
    margin-right: 30;
}

.menu
{
    
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 44px ;
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none ;
    margin-top: 5px;
    margin-bottom: 20;
    

}
.childmenu
{
    display: inline;
}
.childmenu:hover
{
    color: white;
}
.childmenu::after
{
    content: "";
    display: block;
    position:absolute;
    height: 1.5px;
    width: 10%;
    background-color: #cccccc;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.childmenu:hover::after
{
    transform: scale(1);
}
.childmenu1
{
    display: inline;
}

.childmenu1::after
{
    content: "";
    display: block;
    position:absolute;
    height: 1.5px;
    width: 5%;
    background-color: #cccccc;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.childmenu1:hover::after
{
    transform: scale(1);
    background-color: white;
}

.childmenu2
{
    display: inline;
}

.childmenu2::after
{
    content: "";
    display: block;
    position:absolute;
    height: 1.5px;
    width: 7%;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.childmenu2:hover::after
{
    transform: scale(1);
    background-color: white;
}

.accueil
{
    margin-top: 150px;
    margin-bottom: 300px;
    display: block;
    line-height: 57px;
    
}
.welcome 
{
    font-size: 48px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 57px;
    text-align: center;
    padding-bottom: 57px;

}
.portfolio
{
    
    font-size: 96px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center; 
   
    
}

.presentation 
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Cormorant-Garamond';
    font-size: 25px;
    margin-bottom: 300px;    
    background-color: blueviolet;

}
.aboutme
{
    margin-left: 50px;
    margin-right: 150px;
    line-height: 45px;
    margin-top: 20;
}

.nom
{
    font-size: 36px;

}

.pdp
{
    display: block;
    height: 345;
    width: 342;
    border-radius: 48%;
    margin-right: 200px;
    
}

/* -------------skill---------- */
h2
{
    text-align: center;
}

.skill{
    width: 900px;
    margin: 60px auto;
    color:white;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    background-color: #1a1918
    
}
.skill li
{
    margin: 20px 0;
    padding: 10px;
    list-style-type: none;
}

.bar
{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all cubic-bezier(.25,.8,.25, 1)

}
.bar:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 1px 2px rgba(0,0,0,0.22);
}
.bar span
{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(139,0,0,1)0%, rgba(252,103,103,1)100%);

}

.html
{
    width: 80%;
    animation: html 1.25s;

}
.css
{
    width: 70%;
    animation: css 1.5s;
    
}
.javascript
{
    width: 60%;
    animation: javascript 0.75s;
    
}
.react
{
    width: 20%;
    animation: react 2s;
    
}

@keyframes html
{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css
{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript
{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes react
{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

.softskill
{
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Cormorant Garamond';
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    
}
/*------------------Projet-----------------*/
.projet{
    display: flex;
    min-width: 600px;
    max-width: 900px;
    height: 353px;
    margin: 4em auto;
    overflow: hidden;
}


.image{
    min-width: 60px;
    margin: 10px;
    cursor: pointer;
    transition: 1s cubic-bezier(0.05,0.61,0.41,0.95);
    overflow: hidden;
    position: relative;
}
.image.active{
    flex-grow: 100;
    max-width: 500px;
    margin: 0px;
    border-radius: 7px;
    background-size: auto 100%;
}
.image:not(.active){
    flex-grow: 1;
    border-radius: 5px;
}

.textcontainer{
    width: 100%;
    height: 400px;
    visibility: hidden;
    transform: translateY(300px);
    opacity: 0;
    transition: all .4s ease ;
    background: linear-gradient(354deg, black 0%, transparent 72%);
    color: white;
    overflow: hidden;

}
.text{
    position: absolute;
    bottom: 5rem;
    padding: 15px;
}
.active .textcontainer{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
/* -------------------contact----------------- */

.contact
{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}






